body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #FFFAE9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    margin-left: 35px;
    padding: 0;
    width: min(100%, 24.375rem);
}

.titulo {
    color: #62230C;
    margin-top: 100px;
    display: inline-flex;
    padding: var(--Pequeno, 0.5rem);
    justify-content: center;
    align-items: center;
    gap: var(--Nenhum, 0rem);
}

.titulo h1 {
    color: #62230C;
    font-family: Poppins;
    font-size: 1.8125rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.25rem;
}

.descricao {
    display: flex;
    width: min(100%, 20.625rem);
    height: 5.5rem;
    padding: var(--Medio, 0.75rem) var(--Pequeno, 0.5rem);
    justify-content: center;
    align-items: center;
    gap: var(--Nenhum, 0rem);
    flex-shrink: 0;
}

.pergunta {
    display: inline-flex;
    padding: var(--Pequeno, 0.5rem);
    justify-content: center;
    align-items: center;
    gap: var(--Nenhum, 0rem);
    color: #62230C;
    width: min(100%, 17.75rem);
    /* Limita a largura */
    text-align: center;
}

.button {
    display: flex;
    width: min(100%, 17.75rem);
    height: 1.5rem;
    padding: var(--Grande, 1rem);
    justify-content: center;
    align-items: center;
    gap: var(--XS, 0.25rem);
    flex-shrink: 0;
    border-radius: var(--Pequeno, 0.5rem);
    background: #FFD65B;
    text-decoration: none;
    color: #46391D;
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    margin-top: 20%;
}

.button:hover {
    background-color: #f0c14b;
}