* {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    max-width: 24.375rem;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    width: 100%;
}

header h1 {
    color: #C45025;
    font-family: 'Poppins', sans-serif;
    font-size: 6vw;
    font-weight: 600;
    line-height: 1.2;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 12px;
}

.container {
    display: inline-flex;
    padding: var(--Grande, 1rem);
    align-items: center;
    gap: var(--Pequeno, 0.5rem);
    border-radius: var(--Pequeno, 0.5rem);
    border: 1px solid var(--Primria-Borders-and-Separators-primary-yellow-border--3, #D9A936);
    background: var(--Neutros-White, #FFF);
}

.containerMaior p {
    flex: 1 0 0;
    color: var(--Primria-Accessible-Text-primary-yellow-text--3, #372C15);
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
}

button {
    display: flex;
    width: 17.75rem;
    height: 3.5rem;
    padding: var(--Grande, 1rem);
    justify-content: center;
    align-items: center;
    gap: var(--XS, 0.25rem);
    flex-shrink: 0;
    border-radius: var(--Pequeno, 0.5rem);
    background: var(--Primria-Solid-Colors-primary-yellow-solid-1, #FFD65B);
    color: var(--Primria-Accessible-Text-primary-yellow-text--2, #46391D);
    font-family: Poppins;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    border: none;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    padding: 16px 0;
}

footer h2 {
    color: #C45025;
    font-family: 'Poppins', sans-serif;
    font-size: 5vw;
    font-weight: 600;
    line-height: 1.2;
}

footer p {
    color: #46391D;
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    line-height: 1.5;
}

@media (min-width: 600px) {
    body {
        max-width: 500px;
    }

    header h1 {
        font-size: 28px;
    }

    section p,
    footer p {
        font-size: 16px;
    }

    footer h2 {
        font-size: 24px;
    }
}